.pollOption {
  background-color: #57ff57;
  border-radius: 60px;
  height: 60px;
  width: min(600px, 90%);
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
}

.pollOptionText {
  position: absolute;
  left: 30px;
  top: 18px;
}

.pollOptionVotes {
  position: absolute;
  right: 30px;
  top: 18px;
  font-weight: 600;
}

.voteFill {
  background-color: #0e0d11;
  height: 100%;
  float: left;
  border-radius: 60px;
}

.emptyFill {
  background-color: #d3d7dd;
  height: 100%;
  float: left;
  border-radius: 60px;
}


.errorMessage{
  text-align: center;
  position: relative;
  padding: 0.0rem 0.10rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  
}