/* poll related styles */

.pollOption {
  background-color: #57ff57;
  border-radius: 60px;
  height: 60px;
  width: min(600px, 90%);
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;
}

.pollOptionText {
  position: absolute;
  left: 30px;
  top: 18px;
}

.pollOptionVotes {
  position: absolute;
  right: 30px;
  top: 18px;
  font-weight: 600;
}
